# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv/
venv/
env/
*.egg-info/

# Sistema
.DS_Store
Thumbs.db

# Logs temporários
*.log
/tmp/
*.tmp

# Jupyter
.ipynb_checkpoints/

# Arquivos temporários do sistema
*.swp
*.swo

# Docker cache/local
docker-data/
